.bg-nav{
    background-color: #1a1f24; 
    /* background-color:  #0a58ca;  */
}
.nav-input{
    margin-right: 10px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border-color: rgb(73, 52, 52);
    border-width: 3px;
    border-style: solid;
}

.chat-icon{
    font-size: 5px;
}
#nav-dropdown{
    color: white;
    font-weight: bold;
    font-size: 23px;
    
}
