body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}

.container {
    background-color: hsl(0, 0%, 90%);
    transition: background-color 300ms;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.content input {
    width: 50%;
}

.content button {
    width: 30%;
}

.image {
    width: 45%;
    height: 100vh;
}

.image img {
    width: 100%;
    height: 100%;

}

.inputbox {
    position: relative;
    width: 60%;
    height: 50px;
    margin-bottom: 50px;
}

.inputbox p {
    padding-top: 35px;
    padding-left: 10px;

}

.inputbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
    transition: 0.3s;
}

.inputbox:last-child {
    margin-bottom: 0;
}

.inputbox span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.3s;
    font-family: sans-serif;
}

.inputbox input:focus {
    border-color: rgb(155, 185, 219);
    border-width: 5px;

}

.inputbox input:focus~span,
.center .inputbox input:valid~span {
    transform: translateX(-13px) translateY(-35px);
    font-size: 1em;
}

.inputbox [type="button"] {
    width: 50%;
    background: dodgerblue;
    color: #fff;
    border: #fff;
}

.inputbox:hover [type="button"] {
    background: linear-gradient(45deg, greenyellow, dodgerblue);
}

.button1 {
    background-color: #4c98af;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;

}

.button1:hover {
    background-color: #6cafc4;

}