.seeAll_me_350px{
    margin-right: 350px;
}
.seeAll_bg{
    background-color: rgb(248 248 248)
}
.seeAll_bg_item{
    background-color: rgb(255, 255, 255);
}
.seeAll_bg_troger{
    font-size: 37px;

}
