<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602406913114-0i1dtatato7bevl1aku9mlt3e92ont0s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602406913114-0i1dtatato7bevl1aku9mlt3e92ont0s</string>
	<key>API_KEY</key>
	<string>AIzaSyCj8AwjbqfmWKCdSlxF9wLQS8pV_zVmr_4</string>
	<key>GCM_SENDER_ID</key>
	<string>602406913114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sed</string>
	<key>PROJECT_ID</key>
	<string>sed-inc</string>
	<key>STORAGE_BUCKET</key>
	<string>sed-inc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602406913114:ios:8dc09ad359ffe0c9928463</string>
</dict>
</plist>