.photo-div{

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    height: 400px;
    width: 350px;
}
.btn-items{
    background-color: rgb(113 206 245);
    border-radius: 5px;
    width: 200px;
    height: 40px;
    margin-top: 50px;
    border: none;
}
.btn-items:hover{
    background-color: rgb(171 225 249);
}
.whichlist_bg{
    color: red;
}
.radius_circle{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
