body {
    overflow-x: hidden;
  }
.slider-style img {
    height: 320px;
    width: 100%;

}
.slider-style2  {
    height: auto;
    width: 100%;

}
.catogiry-div{
    position: relative;
    margin-bottom: 50px;
    overflow: hidden;
    width: 100%;
    height: 300px;
}
.catogiry-img{
    transition-duration: 0.4s;

}
.catogiry-div:hover .catogiry-img{
   transform: scale(1.5);
   
}
.catogiry-text{
    position: absolute;
    background-color: rgb(215, 218, 255);
    height: 30px;
    z-index: 100;
    bottom: 10px;
}
.advertisement{
    height: 300px;
}
.fs-10{
    font-size: 50px;
    font-weight: bolder;
}
.slider-service-div{
    height: 500px;
    width: 250px;
    text-align: center;
}
.slider-service-div:hover{
    box-shadow: 5px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    height: auto;
    
    
}
.slider-service-img{
    margin: auto;
    width: 170px;
    height: 250px;
    padding-top: 20px;
}
.slider-service-btn{
    display: none;
    position: relative;
    z-index: 100;
}
.slider-service-detailes{
    height: 50px ;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.slider-service-div:hover .slider-service-detailes{
    height: auto;
    overflow:visible;
 

}
.slider-service-div:hover .slider-service-btn{
    display:inline;
}
.footer-div{
    background-color: rgb(0 53 95);
}
.app-div{
    background-color: rgb(104, 202, 235);
    width: 300px;
    height: 100px;
}
.app-img{
    width: 130px;

}
.line-footer{
    background-color: white;
    width: 100%;
    height: 0.1px;
}
.footer-text1{
    width: 190px;
}
.footer-text2  a{
    color: white;
    text-decoration: none;
}
@media screen and (min-width: 1400px) {
    .swiper-container {
      width: 1400px;
    }
  }
  
  @media screen and (min-width: 992px) {
    .swiper-container {
      width:992px;
    }
  }