.Admininfo-bg{
    background-color: #ebecf0;
    
   
    
    
}
    .Admininfo_img{
        border-radius: 50%;
    
    }
    .Admininfo_Img_hight{
        height: 150px;
        width: 150px
    }
    .circle-frame {
        background-position: 50% 35%;
        background-repeat: no-repeat;
        
        border: 5px solid #1a1f24;
       
        
        float: left; /* or position absolute */
      }