@media screen and (max-width:400px) {
   
    .all{
     width:0px
   } 
   .lable{
    visibility: hidden;
   }
   .avatar-info{
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
   }
   .avatar{
    height: 40px;
    padding: 0px;
    width: 40px;
    margin: 0px;
   }
   .sid-items{
    margin-top: 15px;
   }

   .sid-items  li{
  
    height: 50px;
   


   }
}